.height-85 {
    height: 85px;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.15);
}

.height-imagem-logo {
    height: 85px;
}

.btn {
    display: block;
    width: 45%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #806f6f, #38d39f, #b4975a);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Zen Old Mincho', serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    padding-top: 11px;
    margin-left: 130px;
}

.btn:hover {
    background-position: right;
    color: white !important;
}

.link-topo {
    padding: 1.2em;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    color: #b4975a;
    line-height: 1.6;
    font-size: 1em;
    transition: 0.7s;
}

.link-topo:hover {
    color: #38d39f;
}

.margin-top-27 {
    margin-top: 27px;
}

.height-550 {
    background-image: linear-gradient( #e5ece8 70%, #aea4a4 100%);
    height: 660px;
    padding-top: 30px;
}

.row-box-shadow {
    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);
    border-radius: 30px;
    height: 600px;
    background-color: #F7F9FE;
}

.wave {
    bottom: 0;
    left: 0;
    height: 537px;
    z-index: -1;
    margin-top: 64px;
    margin-left: -12px;
    border-bottom: 120px;
}

.imagem-bg {
    width: 320px;
    margin-top: 320px;
    margin-left: -400px;
}

.div-box-shadow {
    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);
    border-radius: 30px;
    margin-top: 35px;
    height: 530px;
    width: 95%;
    margin-left: 16px;
    background-color: white;
}

.div-box-shadow h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 25px;
    font-family: 'Zen Antique Soft', serif;
    margin-left: 5px;
    text-align: center;
}

.div-login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-top: -5px;
}
  
.form {
    width: 360px;
}
  
.div-login-content .input-div.one {
    margin-top: 30px;
}
  
.div-login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
  
.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.i i {
    transition: .3s;
}
  
.input-div > div {
    position: relative;
    height: 45px;
}
  
.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
    font-family: 'Zen Antique Soft', serif;
}
  
.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
}
  
.input-div:before {
    right: 50%;
}
  
.input-div:after {
    left: 50%;
}
  
.input-div.focus:before, .input-div.focus:after {
    width: 50%;
}
  
.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}
  
.input-div.focus > .i > i {
    color: #38d39f;
}
  
.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}
  
.input-div.pass {
    margin-bottom: 4px;
}

.div-espacamento {
    margin-left: 50px;
    margin-top: 10px;
    color: #b4975a;
}

.div-espacamento a {
    margin-left: 4px;
    color: #b4975a;
}

.margin-top-40 {
    margin-top: 40px;
}

.politica-de-privacidade {
    font-size: 0.8em;
    margin-left: 85px;
    color: #767c75;
}

.politica-de-privacidade a {
    color: #767c75;
}

.height-5 {
    height: 5em;
}

.height-5 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7f88a6;
    margin-top: 30px;
}

.height-5 i {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .5s linear;
    cursor: pointer;
    margin-right: 10px;
}

.height-5 i:hover {
    color: white;
    background: #007bff;
}

.margin-top-18 {
    margin-top: 18px;
}

.br-display {
    display: none !important;
}

@media (max-width: 320px) {
  
}
  
@media (min-width: 321px) and (max-width: 375px) {  
    .row-responsivo {
        display: block;
    }

    .row-monitor {
        display: none;
    }

    .d-none-imagens {
        display: none;
    }

    .div-login-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        margin-top: -5px;
    }

    .div-box-shadow h2 {
        color: #333;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding-top: 25px;
        font-family: 'Zen Antique Soft', serif;
        margin-left: 1px;
        text-align: center;
    }

    .form {
        width: 270px;
    }

    .div-espacamento {
        margin-left: 50px;
        margin-top: 10px;
        color: #b4975a;
    }

    .margin-top-40 {
        margin-top: 40px;
        margin-left: 77px;
        margin-bottom: 25px;
    }

    .politica-de-privacidade {
        font-size: 0.8em;
        margin-left: 50px;
        color: #767c75;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .container-bars {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 310px;
        z-index: 1000;
    }

    .margin-left-80 {
        margin-left: 80px;
    }

    .col-responsivo {
        position: fixed;
        background-color: white;
        min-height: 122vh;
        max-height: 115vh;
        width: 301px;
        top: -69px;
        left: 284px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2.2em;
        padding-top: 105px;
    }

    .buttom-menu-lateral {
        width: 85%;
        margin-left: 15px;
        margin-top: 18px;
    }

    .link-topo {
        padding: 1.2em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        color: #b4975a;
        line-height: 2.6;
        font-size: 1em;
        transition: 0.7s;
        margin-right: 50px;
    }

    .height-imagem-logo {
        height: 85px;
        margin-right: 101px;
        margin-left: 5px;
    }

    .col-9-background {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 284px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
        height: 325px;
    }

    #row-responsivo {
        display: none;
    }

    .margin-left-75 {
        margin-left: 75px;
    }

    .height-5 {
        height: 11em;
    }

    .div-box-shadow {
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);
        border-radius: 30px;
        margin-top: 25px;
        height: 550px;
        width: 95%;
        margin-left: 8px;
        background-color: white;
    }
}
  
@media (min-width:  376px) and (max-width: 576px) {
    .row-responsivo {
        display: block;
    }

    .row-monitor {
        display: none;
    }

    .d-none-imagens {
        display: none;
    }

    .div-login-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        margin-top: -5px;
    }

    .div-box-shadow h2 {
        color: #333;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding-top: 25px;
        font-family: 'Zen Antique Soft', serif;
        margin-left: 1px;
        text-align: center;
    }

    .form {
        width: 315px;
    }

    .div-espacamento {
        margin-left: 75px;
        margin-top: 10px;
        color: #b4975a;
    }

    .margin-top-40 {
        margin-top: 40px;
        margin-left: 100px;
        margin-bottom: 25px;
    }

    .politica-de-privacidade {
        font-size: 0.8em;
        margin-left: 10px;
        color: #767c75;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .container-bars {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 340px;
        z-index: 1000;
    }

    .col-responsivo {
        position: fixed;
        background-color: white;
        min-height: 122vh;
        max-height: 115vh;
        width: 301px;
        top: -69px;
        left: 284px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2.2em;
        padding-top: 105px;
    }

    .buttom-menu-lateral {
        width: 85%;
        margin-left: 15px;
        margin-top: 18px;
    }

    .div-box-shadow {
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%);
        border-radius: 30px;
        margin-top: 35px;
        height: 530px;
        width: 95%;
        margin-left: 10px;
        background-color: white;
    }

    .link-topo {
        padding: 1.2em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        color: #b4975a;
        line-height: 2.6;
        font-size: 1em;
        transition: 0.7s;
        margin-right: 50px;
    }

    .height-imagem-logo {
        height: 85px;
        margin-right: 101px;
        margin-left: 5px;
    }

    .col-9-background {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 284px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
        height: 325px;
    }

    #row-responsivo {
        display: none;
    }

    .margin-left-75 {
        margin-left: 75px;
    }

    .height-5 {
        height: 9.5em;
    }
}
  
@media (min-width: 577px) and (max-width: 768px) {
    .row-responsivo {
        display: block;
    }

    .row-monitor {
        display: none;
    }

    .d-none-imagens {
        display: none;
    }

    .div-login-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 75px;
        margin-top: -5px;
    }

    .form {
        width: 500px;
    }

    .div-espacamento {
        margin-left: 75px;
        margin-top: 10px;
        color: #b4975a;
    }

    .margin-top-40 {
        margin-top: 40px;
        margin-left: 180px;
        margin-bottom: 25px;
    }

    .politica-de-privacidade {
        font-size: 0.8em;
        margin-left: 165px;
        color: #767c75;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .container-bars {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 670px;
        z-index: 1000;
    }

    .col-responsivo {
        position: fixed;
        background-color: white;
        min-height: 122vh;
        max-height: 115vh;
        width: 301px;
        top: -69px;
        left: 284px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2.2em;
        padding-top: 105px;
    }

    .buttom-menu-lateral {
        width: 85%;
        margin-left: 15px;
        margin-top: 18px;
    }

    .link-topo {
        padding: 1.2em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        color: #b4975a;
        line-height: 2.6;
        font-size: 1em;
        transition: 0.7s;
        margin-right: 50px;
    }

    .height-imagem-logo {
        height: 85px;
        margin-right: 101px;
        margin-left: 75px;
    }

    .col-9-background {
        position: fixed;
        top: 0;
        bottom: -1px;
        left: 284px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
        height: 325px;
    }

    #row-responsivo {
        display: none;
    }
      
}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {
    .row-responsivo {
        display: none;
    }

    .btn {
        display: block;
        width: 55%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #38d39f, #b4975a);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px;
        margin-left: 90px;
    }

    .div-login-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 35px;
        margin-top: -5px;
    }

    .margin-top-40 {
        margin-top: 40px;
    }

    .politica-de-privacidade {
        font-size: 0.8em;
        margin-left: 44px;
        color: #767c75;
    }
}
  
@media (min-width: 1201px) {
    .row-responsivo {
        display: none;
    }
}